.logo_hyperiun{
    width: 200px;
}

.menu_hyperiun_telecom{
    padding-top: 10px;
}

.logo_branco{
    padding-bottom: 20px;
    width: 200px;
    margin: auto;
 }

.produtos{
     color: #ffffff;
 }

.equipe{ 
background-color: rgba(255, 255, 255, 0.5);
padding: 20px;
 }

 .texto_equipe{
     color: #000000;
 }

 .marcas_secundarias{
     width: 150px;
     padding: 10px;
 }
 
 .texto_marca{
padding-top: 30px;
padding-bottom: 30px;
 }